# Exercises Part I

Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

fruit_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

fruits = pd.Series(fruit_list)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Use Series attributes and methods to explore your fruits Series.

1. Determine the number of elements in fruits.

In [10]:
fruits.size

17

2. Output only the index from fruits.

In [6]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

3. Output only the values from fruits.

In [7]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [11]:
#type(fruits)
fruits.dtype

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [24]:
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [25]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [26]:
fruits.sample(2)

3     pineapple
2    strawberry
dtype: object

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [17]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [34]:
fruits.unique()
#fruits.nunique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

8. Determine how many times each unique string value occurs in fruits.

In [21]:
fruits.value_counts()

kiwi                4
mango               2
papaya              1
honeycrisp apple    1
blueberry           1
gala apple          1
pineapple           1
tomato              1
strawberry          1
blackberry          1
honeydew            1
watermelon          1
gooseberry          1
dtype: int64

9. Determine the string value that occurs most frequently in fruits.

In [35]:
fruits.value_counts().nlargest(n = 1, keep='all')

kiwi    4
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [36]:
fruits.value_counts().nsmallest(n = 1, keep='all')

papaya              1
honeycrisp apple    1
blueberry           1
gala apple          1
pineapple           1
tomato              1
strawberry          1
blackberry          1
honeydew            1
watermelon          1
gooseberry          1
dtype: int64

# Exercises Part II

Explore more attributes and methods while you continue to work with the fruits Series.

1. Capitalize all the string values in fruits.

In [37]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [39]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

3. Output the number of vowels in each and every string value.

In [40]:
fruits.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

4. Write the code to get the longest string value from fruits.

In [45]:
max(fruits.apply(len))

16

5. Write the code to get the string values with 5 or more letters in the name.

In [46]:
fruits[fruits.apply(len)>5].apply(len)

2     10
3      9
4     10
5     16
6      6
7     10
8      8
13     9
14    10
15    10
16     6
dtype: int64

6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [47]:
fruits[fruits.apply(lambda x:x.count('o'))>=2]

6         tomato
15    gooseberry
dtype: object

7. Write the code to get only the string values containing the substring "berry".

In [48]:
fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

8. Write the code to get only the string values containing the substring "apple".

In [49]:
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

9. Which string value contains the most vowels?

In [50]:
fruits[max(fruits.str.count('[aeiou]'))]

'honeycrisp apple'

# Exercises Part III
Use pandas to create a Series named letters from the following string:
 'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'