# Exercises Part I

Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

fruit_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

fruits = pd.Series(fruit_list)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Use Series attributes and methods to explore your fruits Series.

1. Determine the number of elements in fruits.

In [10]:
fruits.size

17

2. Output only the index from fruits.

In [6]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

3. Output only the values from fruits.

In [7]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [11]:
#type(fruits)
fruits.dtype

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [24]:
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [25]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [26]:
fruits.sample(2)

3     pineapple
2    strawberry
dtype: object

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [17]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [19]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

8. Determine how many times each unique string value occurs in fruits.

In [21]:
fruits.value_counts()

kiwi                4
mango               2
papaya              1
honeycrisp apple    1
blueberry           1
gala apple          1
pineapple           1
tomato              1
strawberry          1
blackberry          1
honeydew            1
watermelon          1
gooseberry          1
dtype: int64

9. Determine the string value that occurs most frequently in fruits.

In [32]:
fruits.value_counts().nlargest(1, keep='all')

kiwi    4
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [31]:
fruits.value_counts().nsmallest(1, keep='all')

papaya              1
honeycrisp apple    1
blueberry           1
gala apple          1
pineapple           1
tomato              1
strawberry          1
blackberry          1
honeydew            1
watermelon          1
gooseberry          1
dtype: int64